---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 10
use:
    - posts
---
{% for post in page.pagination.items %}
    {% if not loop.first %}
        <hr>
    {% endif %}
    <article>
        <header>
            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div>
            {{ post.blocks.content|raw }}
            {% if post.meta.posterous_images|length > 0 %}
                <p>
                    {% for image in post.meta.posterous_images %}
                        {% if image.scaled500 is defined %}{% set scaled_image = image.scaled500 %}
                        {% elseif image.scaled1000 is defined %}{% set scaled_image = image.scaled1000 %}
                        {% else %}{% set scaled_image = image.full %}{% endif %}
                        <a href="{{ image.full.url }}" style="border: 2px solid #555; display: inline-block; width: 75px; height: 75px; background-image: url({{ scaled_image.url }}); background-size: cover; text-indent: 100%; white-space: nowrap; overflow: hidden;">{{ loop.index }}</a>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <p class="date">
            Posted <time datetime="{{ post.date|date('c') }}" pubdate>
                <span class='month'>{{ post.date|date('M') }}</span> <span class='day'>{{ post.date|date('jS') }}</span> <span class='year'>{{ post.date|date('Y') }}</span>
            </time>
        </p>
        {% if post.meta.tags %}
            <p class="tags">
            Tags:
            {% for tag in post.meta.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
